
h1{color: rgb(44, 161, 185);
    font-family: 'Yeseva One', monospace;
    font-size: 50px;
    text-decoration: underline #ffba08;
    stroke: 2px;;
  padding: 20px;
    margin: top left;}




   /* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(234, 54, 54);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover navbar */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(181, 83, 83); 
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #d81e5b; /*home bar
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
* {
 font-family: 'nunito sans';
}

body {
  display:flex-center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:white;
}


.card {
    position: relative;
    width: 350px;
    height: 330px;
    margin: 30px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s;
}


.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #3f88c5;
     padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 45px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
.card {
    position: relative;
    width: 350px;
    height: 330px;
    margin: 30px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s;
}


.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #3f88c5;
     padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 45px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 
